{% extends 'layout.html.twig' %}

{% block main %}
    <h2>About the team!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem dolor ex ipsum magnam nobis omnis praesentium quaerat, reprehenderit, repudiandae sed unde veritatis! Dolores doloribus eum illo nihil omnis voluptates!</p>

    <section class="team-members">
        {% for member in teamMembers %}
            <article>
                <h3>{{ member.firstname }} {{ member.lastname }} {{ member.firstname == "Fabien" ? "&#128151;️" : "" }}</h3>
                <p>Creator of {{ member.creatorOf }}</p>
                <p>Date of birth: {{ member.dateOfBirth|date("d-m-Y") }}</p>
                <img src="{{ member.picture }}" alt="{{ member.lastname }}">
            </article>
        {% endfor %}
    </section>

{% endblock %}

{% block title %}About us | {{ parent() }}{% endblock %}